<html data-theme="aqua">
	<head>
		<title>SwissWaterTemps</title>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<script src="https://unpkg.com/htmx.org@1.9.4"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body class="flex justify-center">
		<main class="max-w-screen-sm w-full m-3">
			<div class="navbar bg-base-100">
				<div class="flex-1">
					<a
						class="btn btn-ghost text-xl"
						hx-get="/temperatures"
						hx-target="#temperatures"
						>SwissWaterTemps</a
					>
				</div>
			</div>
			<div class="flex justify-center m-9">
				<div
					id="temperatures"
					hx-get="/temperatures"
					hx-target="#temperatures"
					hx-trigger="load"
				></div>
			</div>

			<footer
				class="footer footer-center p-4 bg-base-300 text-base-content"
			>
				<aside>
					<p>
						Disclaimer:
						<br />
						Die dargestellten Daten gehören dem
						<a
							href="https://www.hydrodaten.admin.ch/de/seen-und-fluesse/messstationen-temperatur"
							style="text-decoration: underline"
							>BAFU</a
						>
						und
						<a
							href="https://www.boot24.ch/chde/service/temperaturen/"
							style="text-decoration: underline"
							>boot24</a
						>.
						<br />
						Diese Website dient lediglich zu schulischen Zwecken und
						es wird kein Profit erzeugt.
					</p>
				</aside>
			</footer>
		</main>
	</body>
</html>
